// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
#include <dt-bindings/msm-camera.h>

&soc {
	qcom,cam-res-mgr {
		compatible = "qcom,cam-res-mgr";
		status = "ok";
		gpios-shared = <609 610 611>;
	};
};

&tlmm {
	camera_mux0_active: camera_mux0_active {
		pins = "gpio24";
		function = "gpio";
		bias-pull-down;
		drive-strength = <2>;
		output-low;
	};

	camera_mux0_suspend: camera_mux0_suspend {
		pins = "gpio24";
		function = "gpio";
		bias-disable;
		drive-strength = <2>;
	};

	camera_mux1_active: camera_mux1_active {
		pins = "gpio41";
		function = "gpio";
		bias-pull-down;
		drive-strength = <2>;
		output-low;
	};

	camera_mux1_suspend: camera_mux1_suspend {
		pins = "gpio41";
		function = "gpio";
		bias-disable;
		drive-strength = <2>;
	};
};

&cam_cci0 {
	/*cam0-imx577*/
	qcom,cam-sensor23 {
		cell-index = <23>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <0>;
		sensor-position-roll = <0>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		regulator-names = "cam_vio";
		power-domains = <&camcc CAM_CC_TITAN_TOP_GDSC>;
		rgltr-cntrl-support;
		pwm-switch;
		rgltr-min-voltage = <1800000>;
		rgltr-max-voltage = <1800000>;
		rgltr-load-current = <120000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_active_rst0
				&camera_mux0_active>;
		pinctrl-1 = <&cam_sensor_suspend_rst0
				&camera_mux0_suspend>;
		gpios = <&tlmm 64 0>;
		gpio-reset = <0>;
		gpio-req-tbl-num = <0>;
		gpio-req-tbl-flags = <0>;
		gpio-req-tbl-label = "CAMIF_RESET0";
		cci-master = <0>;
		status = "ok";
	};
};


&cam_cci1 {
	/*cam1-imx577*/
	qcom,cam-sensor24 {
		cell-index = <24>;
		compatible = "qcom,cam-sensor";
		csiphy-sd-index = <1>;
		sensor-position-roll = <0>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <180>;
		regulator-names = "cam_vio";
		power-domains = <&camcc CAM_CC_TITAN_TOP_GDSC>;
		rgltr-cntrl-support;
		pwm-switch;
		rgltr-min-voltage = <1800000>;
		rgltr-max-voltage = <1800000>;
		rgltr-load-current = <120000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&cam_sensor_active_rst1
				&camera_mux1_active>;
		pinctrl-1 = <&cam_sensor_suspend_rst1
				&camera_mux1_suspend>;
		gpios = <&tlmm 75 0>;
		gpio-reset = <0>;
		gpio-req-tbl-num = <0>;
		gpio-req-tbl-flags = <0>;
		gpio-req-tbl-label = "CAMIF_RESET1";
		cci-master = <0>;
		status = "ok";
	};
};
