// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, Thundercomm All rights reserved.
 */
#define PM7250B_SID 8
#define PM7250B_SID1 9

#include <dt-bindings/iio/qcom,spmi-adc7-pm7325.h>
#include <dt-bindings/iio/qcom,spmi-adc7-pmk8350.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include "qcm6490.dtsi"
#include "pm7250b.dtsi"
#include "pm7325.dtsi"
#include "pm8350c.dtsi"
#include "pmk8350.dtsi"
#include "qcm6490-addons.dtsi"
#include "pm7325b.dtsi"

/ {
	model = "Thundercomm, Inc. RUBIK Pi 3";
	compatible = "qcom,qcm6490-rb3gen2", "qcom,qcm6490";

	qcom,msm-id = <497 0x10000>, <498 0x10000>, <475 0x10000>, <515 0x10000>;
	qcom,board-id =<32 0xb>, <32 0x60b>;

	aliases {
		serial0 = &uart5;
		serial2 = &uart2;
		serial3 = &uart3;
		serial6 = &uart6;
		serial7 = &uart7;
		serial8 = &uart8;
		serial12 = &uart12;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-keys {
		compatible = "gpio-keys";
		label = "gpio-keys";

		pinctrl-0 = <&key_vol_up_default>;
		pinctrl-names = "default";

		key-volume-up {
			label = "volume_up";
			gpios = <&pm7325_gpios 6 GPIO_ACTIVE_LOW>;
			linux,input-type = <1>;
			linux,code = <KEY_VOLUMEUP>;
			wakeup-source;
			debounce-interval = <15>;
			linux,can-disable;
		};
	};

	pmic-glink {
		compatible = "qcom,sm8350-pmic-glink", "qcom,pmic-glink";
		#address-cells = <1>;
		#size-cells = <0>;
		orientation-gpios = <&tlmm 140 GPIO_ACTIVE_HIGH>;
		qcom,thermal-mitigation = <3000000 1500000 1000000 500000>;

		connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					pmic_glink_hs_in: endpoint {
						remote-endpoint = <&usb_1_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					pmic_glink_ss_in: endpoint {
						remote-endpoint = <&usb_1_qmpphy_out>;
					};
				};

				port@2 {
					reg = <2>;

					pmic_glink_sbu: endpoint {
						remote-endpoint = <&usb1_sbu_mux>;
					};
				};
			};
		};
	};

	thermal-zones {
		quiet-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&pmk8350_adc_tm 1>;

			trips {
				active-config0 {
					temperature = <125000>;
					hysteresis = <1000>;
					type = "passive";
				};
			};
		};

		sdm-skin-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&pmk8350_adc_tm 3>;

			trips {
				active-config0 {
					temperature = <125000>;
					hysteresis = <1000>;
					type = "passive";
				};
			};
		};

		xo-thermal {
			polling-delay-passive = <0>;
			polling-delay = <0>;
			thermal-sensors = <&pmk8350_adc_tm 0>;

			trips {
				active-config0 {
					temperature = <125000>;
					hysteresis = <1000>;
					type = "passive";
				};
			};
		};
	};
};

&apps_rsc {
	regulators-0 {
		compatible = "qcom,pm7325-rpmh-regulators";
		qcom,pmic-id = "b";

		vreg_s1b_1p872: smps1 {
			regulator-min-microvolt = <1840000>;
			regulator-max-microvolt = <2040000>;
		};

		vreg_s2b_0p876: smps2 {
			regulator-min-microvolt = <570070>;
			regulator-max-microvolt = <1050000>;
		};

		vreg_s7b_0p972: smps7 {
			regulator-min-microvolt = <535000>;
			regulator-max-microvolt = <1120000>;
		};

		vreg_s8b_1p272: smps8 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1500000>;
		};

		vreg_l1b_0p912: ldo1 {
			regulator-min-microvolt = <912000>;
			regulator-max-microvolt = <925000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2b_3p072: ldo2 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3b_0p504: ldo3 {
			regulator-min-microvolt = <312000>;
			regulator-max-microvolt = <910000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l4b_0p752: ldo4 {
			regulator-min-microvolt = <752000>;
			regulator-max-microvolt = <820000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l5b_0p752: ldo5 {
			regulator-min-microvolt = <552000>;
			regulator-max-microvolt = <832000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l6b_1p2: ldo6 {
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7b_2p952: ldo7 {
			regulator-min-microvolt = <2400000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l8b_0p904: ldo8 {
			regulator-min-microvolt = <870000>;
			regulator-max-microvolt = <970000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9b_1p2: ldo9 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1304000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l11b_1p504: ldo11 {
			regulator-min-microvolt = <1504000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l12b_0p751: ldo12 {
			regulator-min-microvolt = <751000>;
			regulator-max-microvolt = <824000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l13b_0p53: ldo13 {
			regulator-min-microvolt = <530000>;
			regulator-max-microvolt = <824000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l14b_1p08: ldo14 {
			regulator-min-microvolt = <1080000>;
			regulator-max-microvolt = <1304000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l15b_0p765: ldo15 {
			regulator-min-microvolt = <765000>;
			regulator-max-microvolt = <1020000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l16b_1p1: ldo16 {
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1300000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l17b_1p7: ldo17 {
			regulator-min-microvolt = <1700000>;
			regulator-max-microvolt = <1900000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l18b_1p8: ldo18 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l19b_1p8: ldo19 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		compatible = "qcom,pm8350c-rpmh-regulators";
		qcom,pmic-id = "c";

		vreg_s1c_2p19: smps1 {
			regulator-min-microvolt = <2190000>;
			regulator-max-microvolt = <2210000>;
		};

		vreg_s2c_0p752: smps2 {
			regulator-min-microvolt = <750000>;
			regulator-max-microvolt = <800000>;
		};

		vreg_s5c_0p752: smps5 {
			regulator-min-microvolt = <465000>;
			regulator-max-microvolt = <1050000>;
		};

		vreg_s7c_0p752: smps7 {
			regulator-min-microvolt = <465000>;
			regulator-max-microvolt = <800000>;
		};

		vreg_s9c_1p084: smps9 {
			regulator-min-microvolt = <1010000>;
			regulator-max-microvolt = <1170000>;
		};

		vreg_s10c_0p752:smps10 {
			regulator-min-microvolt = <752000>;
			regulator-max-microvolt = <800000>;
		};

		vreg_l1c_1p8: ldo1 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1980000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2c_1p62: ldo2 {
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <1980000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3c_2p8: ldo3 {
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <3540000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l4c_1p62: ldo4 {
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <3300000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l5c_1p62: ldo5 {
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <3300000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l6c_2p96: ldo6 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7c_3p0: ldo7 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l8c_1p62: ldo8 {
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9c_2p96: ldo9 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l10c_0p88: ldo10 {
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <1050000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l11c_2p8: ldo11 {
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l12c_1p65: ldo12 {
			regulator-min-microvolt = <1650000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l13c_2p7: ldo13 {
			regulator-min-microvolt = <2700000>;
			regulator-max-microvolt = <3544000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_bob_3p296: bob {
			regulator-min-microvolt = <3008000>;
			regulator-max-microvolt = <3960000>;
		};
	};
};

&gcc {
	protected-clocks = <GCC_QSPI_CNOC_PERIPH_AHB_CLK>, <GCC_QSPI_CORE_CLK>,
			<GCC_QSPI_CORE_CLK_SRC>, <GCC_CFG_NOC_LPASS_CLK>,
			<GCC_MSS_GPLL0_MAIN_DIV_CLK_SRC>, <GCC_MSS_CFG_AHB_CLK>,
			<GCC_MSS_OFFLINE_AXI_CLK>, <GCC_MSS_SNOC_AXI_CLK>,
			<GCC_MSS_Q6_MEMNOC_AXI_CLK>, <GCC_MSS_Q6SS_BOOT_CLK_SRC>,
			<GCC_SEC_CTRL_CLK_SRC>, <GCC_WPSS_AHB_CLK>,
			<GCC_WPSS_AHB_BDG_MST_CLK>, <GCC_WPSS_RSCP_CLK>;
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/qcs6490/a660_zap.mbn";
};

&ipa {
	status = "disabled";
};

&lpasscc {
	status = "disabled";
};

&pm7325_gpios {
	key_vol_up_default: key-vol-up-state {
		pins = "gpio6";
		function = "normal";
		input-enable;
		bias-pull-up;
		power-source = <0>;
		qcom,drive-strength = <3>;
	};
};

&pm7325_temp_alarm {
	io-channels = <&pmk8350_vadc PM7325_ADC7_DIE_TEMP>;
	io-channel-names = "thermal";
};

&pm8350c_pwm {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	led@1 {
		reg = <1>;
		color = <LED_COLOR_ID_RED>;
		label = "red";
	};

	led@2 {
		reg = <2>;
		color = <LED_COLOR_ID_GREEN>;
		label = "green";
	};

	led@3 {
		reg = <3>;
		color = <LED_COLOR_ID_BLUE>;
		label = "blue";
	};
};

&pmk8350_adc_tm {
	status = "okay";

	xo-therm@0 {
		reg = <0>;
		io-channels = <&pmk8350_vadc PMK8350_ADC7_AMUX_THM1_100K_PU>;
		qcom,ratiometric;
		qcom,hw-settle-time-us = <200>;
	};

	quiet-therm@1 {
		reg = <1>;
		io-channels = <&pmk8350_vadc PM7325_ADC7_AMUX_THM1_100K_PU>;
		qcom,ratiometric;
		qcom,hw-settle-time-us = <200>;
	};

	sdm-skin-therm@3 {
		reg = <3>;
		io-channels = <&pmk8350_vadc PM7325_ADC7_AMUX_THM3_100K_PU>;
		qcom,ratiometric;
		qcom,hw-settle-time-us = <200>;
	};
};

&pmk8350_pon {
	status = "okay";
};

&pmk8350_rtc {
	status = "okay";
	allow-set-time;
};

&pmk8350_vadc {
	channel@44 {
		reg = <PMK8350_ADC7_AMUX_THM1_100K_PU>;
		label = "xo_therm";
		qcom,hw-settle-time = <200>;
		qcom,pre-scaling = <1 1>;
		qcom,ratiometric;
	};

	channel@103 {
		reg = <PM7325_ADC7_DIE_TEMP>;
		label = "pm7325_die_temp";
		qcom,pre-scaling = <1 1>;
	};

	channel@144 {
		reg = <PM7325_ADC7_AMUX_THM1_100K_PU>;
		qcom,ratiometric;
		qcom,hw-settle-time = <200>;
		qcom,pre-scaling = <1 1>;
		label = "pm7325_quiet_therm";
	};

	channel@146 {
		reg = <PM7325_ADC7_AMUX_THM3_100K_PU>;
		qcom,ratiometric;
		qcom,hw-settle-time = <200>;
		qcom,pre-scaling = <1 1>;
		label = "pm7325_sdm_skin_therm";
	};

	pmk8350-die-temp@3 {
		reg = <PMK8350_ADC7_DIE_TEMP>;
		label = "pmk8350_die_temp";
		qcom,pre-scaling = <1 1>;
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;
	status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_dp {
	status = "okay";
};

&mdss_dp_out {
	data-lanes = <0 1>;
	remote-endpoint = <&usb_1_qmpphy_dp_in>;
};

&mdss_dsi {
	vdda-supply = <&vreg_l6b_1p2>;
	status = "okay";
};

&mdss_dsi_phy {
	vdds-supply = <&vreg_l10c_0p88>;
	status = "okay";
};

&qup_uart5_rx {
	drive-strength = <2>;
	bias-pull-up;
};

&qup_uart5_tx {
	drive-strength = <2>;
	bias-disable;
};

&gpi_dma0 {
	status = "okay";
};

&gpi_dma1 {
	status = "okay";
};

&qupv3_id_0 {
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/qcs6490/adsp.mdt";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/qcs6490/cdsp.mdt";
	status = "okay";
};

&remoteproc_mpss {
	firmware-name = "qcom/qcs6490/modem.mdt";
	status = "okay";
};

&remoteproc_wpss {
	firmware-name = "qcom/qcs6490/wpss.mdt";
	status = "okay";
};

&uart5 {
	compatible = "qcom,geni-debug-uart";
	status = "okay";
};

&ufs_mem_hc {
	reset-gpios = <&tlmm 175 GPIO_ACTIVE_LOW>;
	vcc-supply = <&vreg_l7b_2p952>;
	vcc-max-microamp = <800000>;
	vccq-supply = <&vreg_l9b_1p2>;
	vccq-max-microamp = <900000>;
	vccq2-supply = <&vreg_l9b_1p2>;
	vccq2-max-microamp = <900000>;

	status = "okay";
};

&ufs_mem_phy {
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;

	status = "okay";
};

&tlmm {
	wifi_reset_active: wifi_reset_active {
		pins = "gpio16";
		function = "gpio";
		drive-strength = <2>;
		output-high;
		bias-disable;
	};

	wifi_host_wake: wifi_host_wake {
		pins = "gpio38";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	wifi_power_on: wifi_power_on {
		pins = "gpio125";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

/ {
	vreg_sdio_wifi_1p8: vreg_sdio_wifi_1p8 {
		compatible = "regulator-fixed";
		pinctrl-0 = <&wifi_reset_active>, <&wifi_host_wake>, <&wifi_power_on>;
		pinctrl-names = "default";
		regulator-name = "vreg_sdio_wifi_1p8";
		enable-active-high;
		gpio = <&tlmm 125 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		regulator-enable-ramp-delay = <50000>;
	};

	bcmdhd_wlan: bcmdhd_wlan {
		status = "okay";
		compatible = "linux,bcmdhd_wlan";
		gpio_wl_reg_on = <&tlmm 16 GPIO_ACTIVE_HIGH>;
		gpio_wl_host_wake = <&tlmm 38 GPIO_ACTIVE_HIGH>;
		vdda-supply = <&vreg_sdio_wifi_1p8>;
	};
};

&sdhc_2 {
	status = "okay";

	pinctrl-0 = <&sdc2_clk>, <&sdc2_cmd>, <&sdc2_data>;
	pinctrl-1 = <&sdc2_clk_sleep>, <&sdc2_cmd_sleep>, <&sdc2_data_sleep>;

	vmmc-supply = <&vreg_l9c_2p96>;
	vqmmc-supply = <&vreg_l6c_2p96>;

	non-removable;
	keep-power-in-suspend;

	/delete-property/ cd-gpios;
};

/delete-node/ &usb_1_dwc3;

&usb_1 {

	reg = <0x0 0x0a600000 0x0 0x200000>;

	interrupts-extended = <&intc GIC_SPI 133 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH>,
			      <&pdc 14 IRQ_TYPE_LEVEL_HIGH>,
			      <&pdc 15 IRQ_TYPE_EDGE_BOTH>,
			      <&pdc 17 IRQ_TYPE_EDGE_BOTH>;
	interrupt-names = "dwc_usb3",
			  "hs_phy_irq",
			  "dp_hs_phy_irq",
			  "dm_hs_phy_irq",
			  "ss_phy_irq";

	iommus = <&apps_smmu 0xe0 0x0>;
	snps,dis_u2_susphy_quirk;
	snps,dis_enblslpm_quirk;
	phys = <&usb_1_hsphy>, <&usb_1_qmpphy QMP_USB43DP_USB3_PHY>;
	phy-names = "usb2-phy", "usb3-phy";
	maximum-speed = "super-speed";
	snps,dis-u2-entry-quirk;
	snps,dis-u1-entry-quirk;
	dr_mode = "otg";
	usb-role-switch;
	qcom,enable-rt;
	wakeup-source;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			usb_1_dwc3_hs: endpoint {
			};
		};
	};
};

&usb_1_dwc3_hs {
	remote-endpoint = <&pmic_glink_hs_in>;
};

&usb_1_hsphy {
	vdda-pll-supply = <&vreg_l10c_0p88>;
	vdda18-supply = <&vreg_l1c_1p8>;
	vdda33-supply = <&vreg_l2b_3p072>;

	status = "okay";
};

&usb_1_qmpphy {
	vdda-phy-supply = <&vreg_l6b_1p2>;
	vdda-pll-supply = <&vreg_l1b_0p912>;

	orientation-switch;
	status = "okay";
};

&usb_1_qmpphy_out {
	remote-endpoint = <&pmic_glink_ss_in>;
};

&usb_1_qmpphy_dp_in {
	remote-endpoint = <&mdss_dp_out>;
};

&tlmm {
	usb1_sbu_default: usb1-sbu-state {
		oe-n-pins {
			pins = "gpio53";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
			output-high;
		};
		sel-pins {
			pins = "gpio52";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
		};
	};
};

/ {
	usb1-sbu-mux {
		compatible = "pericom,pi3usb102", "gpio-sbu-mux";
		enable-gpios = <&tlmm 53 GPIO_ACTIVE_LOW>;
		select-gpios = <&tlmm 52 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb1_sbu_default>;
		mode-switch;
		orientation-switch;
		port {
			usb1_sbu_mux: endpoint {
				remote-endpoint = <&pmic_glink_sbu>;
			};
		};
	};
};

&vreg_l7b_2p952 {
	/delete-property/regulator-min-microvolt;
	/delete-property/regulator-max-microvolt;
	regulator-allow-set-load;
	regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM RPMH_REGULATOR_MODE_HPM>;
};

&vreg_l9b_1p2 {
	/delete-property/regulator-min-microvolt;
	/delete-property/regulator-max-microvolt;
	regulator-allow-set-load;
	regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM RPMH_REGULATOR_MODE_HPM>;
};

/*     USB2 Related Start        */
/*==============================*/

&pm7325_gpios {
	usb2_vbus_det_default: usb2_vbus_det_state {
		pins = "gpio9";
		function = "normal";
		bias-pull-down;
		input-enable;
		power-source = <0>;
	};
};

&sdc2_clk {
	bias-disable;
	drive-strength = <16>;
};

&sdc2_cmd {
	bias-pull-up;
	drive-strength = <10>;
};

&sdc2_data {
	bias-pull-up;
	drive-strength = <10>;
};

&tlmm {
	usb2_1p8_vreg_default: usb2_1p8_vreg_default {
		pins = "gpio119";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};
};

/delete-node/ &usb_2_dwc3;

&usb_2 {
	pinctrl-0 = <&usb2_1p8_vreg_default>;
	pinctrl-names = "default";

	reg = <0x0 0x08c00000 0x0 0x100000>;

	interrupts-extended = <&intc GIC_SPI 242 IRQ_TYPE_LEVEL_HIGH>,
				<&intc GIC_SPI 240 IRQ_TYPE_LEVEL_HIGH>,
				<&pdc 12 IRQ_TYPE_LEVEL_HIGH>,
				<&pdc 13 IRQ_TYPE_EDGE_BOTH>;
	interrupt-names = "dwc_usb2",
			"hs_phy_irq",
			"dp_hs_phy_irq",
			"dm_hs_phy_irq";

	iommus = <&apps_smmu 0xa0 0x0>;
	snps,dis_u2_susphy_quirk;
	snps,dis_enblslpm_quirk;
	phys = <&usb_2_hsphy>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	snps,dis-u2-entry-quirk;
	snps,dis-u1-entry-quirk;

	usb-role-switch;
	qcom,enable-rt;
	wakeup-source;
	dr_mode = "host";

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			usb2_role_switch: endpoint {
				remote-endpoint = <&eud_ep>;
			};
		};
	};
};

&usb_2_hsphy {
	vdda-pll-supply = <&vreg_l10c_0p88>;
	vdda18-supply = <&vreg_l1c_1p8>;
	vdda33-supply = <&vreg_l2b_3p072>;

	status = "okay";
};

&spmi_bus {
	pmic@PM7250B_SID {
		pm7250b_bcl: bcl@1d00 {
			compatible = "qcom,bcl-v5";
			reg = <0x1d00>;
			interrupts = <PM7250B_SID 0x1d 0x0 IRQ_TYPE_EDGE_RISING>,
					<PM7250B_SID 0x1d 0x1 IRQ_TYPE_EDGE_RISING>,
					<PM7250B_SID 0x1d 0x2 IRQ_TYPE_EDGE_RISING>;
			interrupt-names = "bcl-lvl0",
						"bcl-lvl1",
						"bcl-lvl2";
			#thermal-sensor-cells = <1>;
		};
	};
};

&thermal_zones {
	pm7250b-ibat-lvl0 {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&pm7250b_bcl 0>;

		trips {
			ibat_lvl0:ibat-lvl0 {
				temperature = <6000>;
				hysteresis = <200>;
				type = "passive";
			};
		};
	};

	pm7250b-ibat-lvl1 {
		polling-delay-passive = <0>;
		polling-delay = <0>;
		thermal-sensors = <&pm7250b_bcl 1>;

		trips {
			ibat_lvl1:ibat-lvl1 {
				temperature = <7500>;
				hysteresis = <200>;
				type = "passive";
			};
		};
	};

	pm7250b-bcl-lvl0 {
		polling-delay-passive = <100>;
		polling-delay = <0>;
		thermal-sensors = <&pm7250b_bcl 5>;

		trips {
			b_bcl_lvl0: b-bcl-lvl0 {
				temperature = <1>;
				hysteresis = <1>;
				type = "passive";
			};
		};

		cooling-maps {
			map0 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&CPU4_idle 100 100>;
			};

			map1 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&CPU5_idle 100 100>;
			};

			map2 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&CPU6_idle 100 100>;
			};

			map3 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&CPU7_idle 100 100>;
			};

			map4 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&cdsp_sw 2 2>;
			};

			map5 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&modem_pa 2 2>;
			};

			map6 {
				trip = <&b_bcl_lvl0>;
				cooling-device = <&modem_tj 1 1>;
			};
		};
	};

	pm7250b-bcl-lvl1 {
		polling-delay-passive = <100>;
		polling-delay = <0>;
		thermal-sensors = <&pm7250b_bcl 6>;

		trips {
			b_bcl_lvl1: b-bcl-lvl1 {
				temperature = <1>;
				hysteresis = <1>;
				type = "passive";
			};
		};

		cooling-maps {
			map0 {
				trip = <&b_bcl_lvl1>;
				cooling-device = <&msm_gpu 5 THERMAL_NO_LIMIT>;
			};

			map1 {
				trip = <&b_bcl_lvl1>;
				cooling-device = <&cdsp_sw 4 4>;
			};

			map2 {
				trip = <&b_bcl_lvl1>;
				cooling-device = <&modem_tj 3 3>;
			};
		};
	};

	pm7250b-bcl-lvl2 {
		polling-delay-passive = <100>;
		polling-delay = <0>;
		thermal-sensors = <&pm7250b_bcl 7>;

		trips {
			b_bcl_lvl2: b-bcl-lvl2 {
				temperature = <1>;
				hysteresis = <1>;
				type = "passive";
			};
		};

		cooling-maps {
			map0 {
				trip = <&b_bcl_lvl2>;
				cooling-device = <&cdsp_sw 5 5>;
			};
		};
	};
};

/ {
	vreg_usb_hub0_1p8: vreg_usb_hub0_1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_usb_hub0_1p8";
		gpio = <&tlmm 86 0>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
		regulator-enable-ramp-delay = <50000>;
	};

	vreg_usb_eth_1p8: vreg_usb_eth_1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_usb_eth_1p8";
		gpio = <&tlmm 7 0>;
		vin-supply = <&vreg_usb_hub0_1p8>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-enable-ramp-delay = <50000>;
	};

	vreg_usb_hub0_rest: vreg_usb_hub0_rest {
		compatible = "regulator-fixed";
		regulator-name = "vreg_usb_hub0_rest";
		gpio = <&tlmm 136 0>;
		vin-supply = <&vreg_usb_eth_1p8>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
		regulator-enable-ramp-delay = <50000>;
	};
};

&pcie0 {
	perst-gpios = <&tlmm 87 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&pcie0_reset_n>, <&pcie0_wake_n>, <&pcie0_clkreq_n>;
	pinctrl-names = "default";
	status = "okay";
	vdda-supply = <&vreg_usb_hub0_rest>;
};

&pcie0_phy {
	status = "okay";
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;
};

&tlmm {
	pcie1_reset_n: pcie1-reset-n-state {
		pins = "gpio2";
		function = "gpio";
		drive-strength = <16>;
		output-low;
		bias-disable;
	};

	pcie1_wake_n: pcie1-wake-n-state {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};
};

/ {
	vreg_m2_1p8: verg_m2_1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_m2_1p8";
		gpio = <&tlmm 56 0>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-enable-ramp-delay = <50000>;
	};
};

&pcie1 {
	perst-gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&pcie1_reset_n>, <&pcie1_wake_n>, <&pcie1_clkreq_n>;
	pinctrl-names = "default";

	vdda-supply = <&vreg_m2_1p8>;

	status = "okay";

	pcieport1: pcie@1 {
		device_type = "pci";
		reg = <0x0 0x0 0x0 0x0 0x0>;
		#address-cells = <5>;
		#size-cells = <0>;
		pcie1_bus1_dev0_fn0: pcie1_bus1_dev0_fn0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie1_phy {
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;

	status = "okay";
};

&thermal_zones {
	cpu0-thermal {
		trips {
			cpu_tepid: cpu-tepid {
				temperature = <65000>;
				hysteresis = <5000>;
				type = "active";
			};

			cpu_warm: cpu-warm {
				temperature = <80000>;
				hysteresis = <5000>;
				type = "active";
			};

			cpu_hot: cpu-hot {
				temperature = <90000>;
				hysteresis = <5000>;
				type = "active";
			};
		};
	};

	gpuss0-thermal {
		trips {
			gpuss0_alert0: trip-point0 {
				temperature = <95000>;
				hysteresis = <5000>;
				type = "passive";
			};
		};
	};

	gpuss1-thermal {
		trips {
			gpuss1_alert0: trip-point0 {
				temperature = <95000>;
				hysteresis = <5000>;
				type = "passive";
			};
		};
	};

	nspss0-thermal {
		trips {
			nspss0_alert0: trip-point0 {
				temperature = <95000>;
				hysteresis = <5000>;
				type = "hot";
			};
		};
	};

	nspss1-thermal {
		trips {
			nspss1_alert0: trip-point0 {
				temperature = <95000>;
				hysteresis = <5000>;
				type = "hot";
			};
		};
	};
};

/ {
	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&pm8350c_pwm 3 1000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&fan_pwm_out_default>;
	};
};

&pm8350c_gpios {
	fan_pwm_out_default: fan_pwm_out_default {
		pins = "gpio8";
		function = "func1";
		power-source = <1>;
		drive-push-pull;
		output-high;
		qcom,drive-strength = <3>;
	};
};

&tlmm {
	qup_uart7_sleep_cts: qup-uart7-sleep-cts-state {
		pins = "gpio28";
		function = "gpio";
		/*
		 * Configure a bias-bus-hold on CTS to lower power
		 * usage when Bluetooth is turned off. Bus hold will
		 * maintain a low power state regardless of whether
		 * the Bluetooth module drives the pin in either
		 * direction or leaves the pin fully unpowered.
		 */
		bias-bus-hold;
	};

	qup_uart7_sleep_rts: qup-uart7-sleep-rts-state {
		pins = "gpio29";
		function = "gpio";
		/*
		 * Configure pull-down on RTS. As RTS is active low
		 * signal, pull it low to indicate the BT SoC that it
		 * can wakeup the system anytime from suspend state by
		 * pulling RX low (by sending wakeup bytes).
		 */
		bias-pull-down;
	};

	qup_uart7_sleep_rx: qup-uart7-sleep-rx-state {
		pins = "gpio31";
		function = "gpio";
		/*
		 * Configure a pull-up on RX. This is needed to avoid
		 * garbage data when the TX pin of the Bluetooth module
		 * is floating which may cause spurious wakeups.
		 */
		bias-pull-up;
	};

	qup_uart7_sleep_tx: qup-uart7-sleep-tx-state {
		pins = "gpio30";
		function = "gpio";
		/*
		 * Configure pull-up on TX when it isn't actively driven
		 * to prevent BT SoC from receiving garbage during sleep.
		 */
		bias-pull-up;
	};
};

&tlmm {
	bt_device_wake: bt_device_wake {
		pins = "gpio39";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	bt_host_wake: bt_host_wake {
		pins = "gpio137";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	bt_reset: bt_reset {
		pins = "gpio17";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&uart7 {
	status = "okay";
	/delete-property/interrupts;
	interrupts-extended = <&intc GIC_SPI 608 IRQ_TYPE_LEVEL_HIGH>,
				<&tlmm 31 IRQ_TYPE_EDGE_FALLING>;
	pinctrl-names = "default", "sleep";
	pinctrl-1 = <&qup_uart7_sleep_cts>, <&qup_uart7_sleep_rts>,
			<&qup_uart7_sleep_tx>, <&qup_uart7_sleep_rx>;

	bluetooth {
		compatible = "brcm,bcm4345c5";
		clocks = <&sleep_clk>;
		clock-names = "lpo";
		device-wakeup-gpios = <&tlmm 39 GPIO_ACTIVE_HIGH>;
		host-wakeup-gpios = <&tlmm 137 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 17 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&bt_device_wake>, <&bt_host_wake>, <&bt_reset>;
		pinctrl-names = "default";
		vbat-supply = <&vreg_sdio_wifi_1p8>;
		vddio-supply = <&vreg_sdio_wifi_1p8>;
	};
};

/ {
	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";
		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};
};

&soc {
	vreg_lt9611_3p3: lt9611-3p3-vreg {
		compatible = "regulator-fixed";
		regulator-name = "vreg_lt9611_3p3";
		gpio = <&tlmm 83 0>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-enable-ramp-delay = <10000>;
	};
};

&apps_rsc {
	regulators-0 {
		vreg_l6b_1p2: ldo6 {
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
	regulators-1 {
		vreg_l10c_0p88: ldo10 {
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <1050000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&i2c9 {
	status = "okay";
	lt9611_codec: hdmi-bridge@39 {
		compatible = "lontium,lt9611";
		reg = <0x39>;
		interrupts-extended = <&tlmm 20 IRQ_TYPE_EDGE_BOTH>;
		reset-gpios = <&tlmm 21 0>;
		enable-gpios = <&tlmm 40 0>;
		ocb-gpios = <&tlmm 41 0>;
		vcc-supply = <&vreg_lt9611_3p3>;
		config-mode = "edidAdaptiveResolution";
		min-vblank = /bits/ 16 <0x19>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				lt9611_a: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};
			port@2 {
				reg = <2>;
				lt9611_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&lt9611_a>;
	data-lanes = <0 1 2 3>;
};

&q6apmbedai {
	qcom,prmcc_clk = <&q6prmcc>;
};

&lpass_va_macro {
	status = "disabled";
};

&lpass_rx_macro {
	status = "disabled";
};

&lpass_tx_macro {
	status = "disabled";
};

&lpass_wsa_macro {
	status = "disabled";
};

&swr0 {
	status = "disabled";
};

&swr1 {
	status = "disabled";
};

&swr2 {
	status = "disabled";
};

&tlmm {
	mi2s0_data0_sleep: mi2s0-data0-sleep {
		pins = "gpio98";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s0_data1_sleep: mi2s0-data1-sleep {
		pins = "gpio99";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s0_sclk_sleep: mi2s0-sclk-sleep {
		pins = "gpio97";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s0_ws_sleep: mi2s0-ws-sleep {
		pins = "gpio100";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};
};

&mi2s0_data0 {
	drive-strength = <8>;
	bias-disable;
};

&mi2s0_data1 {
	drive-strength = <8>;
	bias-disable;
};

&mi2s0_sclk {
	drive-strength = <8>;
	bias-disable;
	output-high;
};

&mi2s0_ws {
	drive-strength = <8>;
	bias-disable;
	output-high;
};

&i2c0 {
	status = "ok";
	es8316: es8316@11 {
		compatible = "everest,es8316";
		reg = <0x11>;
		#sound-dai-cells = <0>;
		power_en-gpio = <&tlmm 117 0>;
		irq-gpio = <&tlmm 63 0>;
		status = "ok";
	};
};

&lpass_tlmm {
	lpass_ext_mas_clk1_a: ext-master-clk1-a-state {
		pins = "gpio13";
		function = "ext_mas_clk1_a";
	};

	lpass_ext_mas_clk1_a_sleep: ext-master-clk1-a-sleep {
		pins = "gpio13";
		function = "ext_mas_clk1_a";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_sclk: qua-mi2s-sclk-state {
		pins = "gpio0";
		function = "qua_mi2s_sclk";
	};

	lpass_qua_mi2s_sclk_sleep: qua-mi2s-sclk-sleep {
		pins = "gpio0";
		function = "qua_mi2s_sclk";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_ws: qua-mi2s-ws-state {
		pins = "gpio1";
		function = "qua_mi2s_ws";
	};

	lpass_qua_mi2s_ws_sleep: qua-mi2s-ws-sleep {
		pins = "gpio1";
		function = "qua_mi2s_ws";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_data0: qua-mi2s-data0-state {
		pins = "gpio2";
		function = "qua_mi2s_data";
	};

	lpass_qua_mi2s_data0_sleep: qua-mi2s-data0-sleep {
		pins = "gpio2";
		function = "qua_mi2s_data";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_data1: qua-mi2s-data1-state {
		pins = "gpio3";
		function = "qua_mi2s_data";
	};

	lpass_qua_mi2s_data1_sleep: qua-mi2s-data1-sleep {
		pins = "gpio3";
		function = "qua_mi2s_data";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_data2: qua-mi2s-data2-state {
		pins = "gpio4";
		function = "qua_mi2s_data";
	};

	lpass_qua_mi2s_data2_sleep: qua-mi2s-data2-sleep {
		pins = "gpio4";
		function = "qua_mi2s_data";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	lpass_qua_mi2s_data3: qua-mi2s-data3-state {
		pins = "gpio5";
		function = "qua_mi2s_data";
	};

	lpass_qua_mi2s_data3_sleep: qua-mi2s-data3-sleep {
		pins = "gpio5";
		function = "qua_mi2s_data";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};
};

/ {
	sound: sound {
		compatible = "qcom,qcm6490-sndcard";
		model = "qcm6490-idp-snd-card";

		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default", "stub_aif0_active", "stub_aif0_sleep";
		pinctrl-0 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk>,
					<&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>,
					<&lpass_ext_mas_clk1_a_sleep>, <&lpass_qua_mi2s_sclk_sleep>,
					<&lpass_qua_mi2s_ws_sleep>, <&lpass_qua_mi2s_data0_sleep>,
					<&lpass_qua_mi2s_data1_sleep>, <&lpass_qua_mi2s_data2_sleep>,
					<&lpass_qua_mi2s_data3_sleep>;
		pinctrl-1 = <&mi2s0_data0>, <&mi2s0_data1>, <&mi2s0_mclk>,
					<&mi2s0_sclk>, <&mi2s0_ws>,
					<&lpass_ext_mas_clk1_a>, <&lpass_qua_mi2s_sclk>,
					<&lpass_qua_mi2s_ws>, <&lpass_qua_mi2s_data0>,
					<&lpass_qua_mi2s_data1>, <&lpass_qua_mi2s_data2>,
					<&lpass_qua_mi2s_data3>;
		pinctrl-2 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk>,
					<&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>,
					<&lpass_ext_mas_clk1_a_sleep>, <&lpass_qua_mi2s_sclk_sleep>,
					<&lpass_qua_mi2s_ws_sleep>, <&lpass_qua_mi2s_data0_sleep>,
					<&lpass_qua_mi2s_data1_sleep>, <&lpass_qua_mi2s_data2_sleep>,
					<&lpass_qua_mi2s_data3_sleep>;

		mi2s-playback-dai-link {
			link-name = "MI2S-LPAIF-RX-PRIMARY";
			cpu {
				sound-dai = <&q6apmbedai PRIMARY_MI2S_RX>;
			};
			codec {
				sound-dai = <&msm_stub_codec 0>, <&es8316>;
			};
		};

		mi2s-capture-dai-link {
			link-name = "MI2S-LPAIF-TX-PRIMARY";
			cpu {
				sound-dai = <&q6apmbedai PRIMARY_MI2S_TX>;
			};
			codec {
				sound-dai = <&msm_stub_codec 1>, <&es8316>;
			};
		};

		quaternary-mi2s-playback-dai-link {
			link-name = "MI2S-LPAIF_RXTX-RX-PRIMARY";
			cpu {
				sound-dai = <&q6apmbedai QUATERNARY_MI2S_RX>;
			};
			codec {
				sound-dai = <&msm_stub_codec 0>;
			};
		};
	};
};

&uart2 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&tlmm {
	/delete-property/ gpio-reserved-ranges;
};

&spi12 {
	status = "okay";
	spidev@0 {
		compatible = "silabs,em3581";
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};
