# SPDX-License-Identifier: GPL-2.0-only
#
# QCOM SI-CORE XTS driver
#
config QCOM_SI_CORE_XTS
	tristate "Secure QSEE Support"
	depends on QCOM_SI_CORE
	help
	  Enable SMCInvoke driver which supports capability based secure
	  communication between QTI Secure Execution Environment (QSEE)
	  and high level operating system. It exposes APIs for both
	  userspace and kernel clients.
